@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "VT323", serif;
}

:root {
  --text-color: #fff;
  --dark-text: #;
  --main-color: #1acf6e;
  --secondary-color: #777;
  --background-color: #000;
  --background-gradient:
    radial-gradient(
      73% 101% at 95.54% 95.05%,
      rgba(255, 156, 65, 0.78) 0%,
      rgba(255, 168, 88, 0) 100%
    ),
    linear-gradient(
      197deg,
      rgba(255, 240, 164, 1) 0%,
      rgba(255, 240, 164, 0) 100%
    ),
    radial-gradient(
      59% 74% at 10% -10%,
      rgba(49, 132, 255, 0.8) 0%,
      rgba(56, 75, 246, 0.21) 52%,
      rgba(62, 246, 246, 0) 100%
    ),
    linear-gradient(
      143deg,
      rgba(62, 158, 246, 1) 0%,
      rgba(238, 43, 183, 0.33) 30%,
      rgba(246, 62, 106, 0) 56%
    ),
    linear-gradient(
      288deg,
      rgba(217, 155, 255, 1) 33%,
      rgba(217, 170, 221, 0) 97%
    );
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

/* GENERAL STYLES */
section {
  padding: 50px 10%;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color);
}
.logo span {
  color: var(--main-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}
.navbar a {
  font-size: 1rem;
  padding: 10px auto;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: var(--main-color);
}

.nav-mobile {
  display: none;
}

.nav-mobile #mobile-menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

/* Estilo del menú móvil */
.mobile-navbar {
  display: none;
  position: absolute;
  top: 60px; /* Ajusta según la altura de tu header */
  right: 0;
  background-color: rgba(51, 51, 51, 0.8); /* Fondo gris oscuro translúcido */
  list-style: none;
  padding: 10px;
  border-radius: 25px 5px 5px 25px;
  z-index: 1000;

  /* Animación inicial oculta */
  opacity: 0;
  transform: translateY(-20px); /* Posición inicial fuera de la pantalla */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Suavidad de la transición */
}

/* Mostrar menú con animación */
.mobile-navbar.active {
  display: block;
  opacity: 1; /* Visibilidad total */
  transform: translateY(0); /* Posición final (visible) */
}

/* Icono de menú móvil */
.nav-mobile i {
  font-size: 24px;
  cursor: pointer;
  color: var(--text-color); /* Ajusta según tu diseño */
}

/* Elementos del menú móvil */
.mobile-navbar li {
  list-style: none;
  margin: 1rem 0;
}

/* Enlaces del menú móvil */
.mobile-navbar li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color 0.3s ease; /* Transición suave para el hover */
}

/* Cambiar color al pasar el cursor */
.mobile-navbar li a:hover {
  color: var(--main-color); /* Cambia al color principal */
}

/* Responsive: Mostrar menú móvil y ocultar el menú principal */
@media (max-width: 850px) {
  .nav-mobile {
    display: block;
  }

  header .navbar {
    display: none; /* Oculta el menú normal en móvil */
  }
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background: url("https://i.postimg.cc/c4ztd0nD/1354305.jpg") no-repeat center
    center/cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-text h1 {
  font-size: 3.5rem;
  color: var(--text-color);
}
.home-text p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
}
.home-text span {
  color: var(--main-color);
}
.home .btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--main-color);
  background: #ffffff30;
  box-shadow: 2px 2px 50px;
  border-radius: 10px;
  transition: background 0.8s;
}
.home .btn:hover {
  background: var(--main-color);
  color: var(--background-color);;
}

/* About Section */
.about {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
.about-img img {
  width: 70%;
  border-radius: 50%;
  object-fit: contain;
}
.about-text span {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--main-color);
}
.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.4rem;
  text-align: justify;
}

.about-text .btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--secondary-color);
  background: var(--main-color);
  box-shadow: 0 0px 50px;
  border-radius: 5px;
  transition: background 0.3s;
}

/* OBS Streamer */
.obs-streamer {
  padding: 60px 20px;
  text-align: center;
  background:var(--background-gradient);
  border-radius: 16px;
  margin: 10px;
}

.obs-streamer .heading span {
  color: #ff5733;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.obs-streamer .heading h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.obs-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

.obs-btn {
  display: inline-block;
  font-weight: bold;
  align-items: center;
  padding: 20px 20px;
  font-size: 1.25rem;
  color: var(--text-color);
  background: #1f323b;
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
  text-decoration: none;
}

.obs-btn:hover {
  transform: scale(1.2);
  background-color: #e74c3c;
}


/* Social Section */
.social {
  text-align: center;
}
.social-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: stretch;
  justify-items: stretch;
  gap: 0.5rem;
  margin: 0.5rem;
}

.social-icon {
  display: flex;
  background: var(--main-color);
  align-items: center;
  padding: 20px;
  font-size: 1.4rem;
  color: var(--text-color);
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}
.social-icon i {
  margin-right: 1rem;
}

.social-icon:hover {
  transform: scale(1.07);
}

/* Colores específicos para cada plataforma */
.social-icon.twitch {
  background: #9146ff; /* Color púrpura de Twitch */
}
.social-icon.twitch:hover {
  background: #772ce8;
  box-shadow: 0px 0px 20px #9146ff;
}

.social-icon.kick {
  background: #50ff50; /* Color púrpura de kick */
}
.social-icon.kick:hover {
  background: #00ff00;
  box-shadow: 0px 0px 20px #50ff50;
}

.social-icon.youtube {
  background: #ff0000; /* Rojo de YouTube */
}
.social-icon.youtube:hover {
  background: #cc0000;
  box-shadow: 0px 0px 20px #ff0000;
}

.social-icon.twitter {
  background: #15202b; /* Celeste de Twitter */
}
.social-icon.twitter:hover {
  background: #3a5877;
  box-shadow: 0px 0px 20px #1da1f2;
}

.social-icon.instagram {
  background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #8134af
  ); /* Gradiente de Instagram */
}
.social-icon.instagram:hover {
  filter: brightness(1.2);
  box-shadow: 0px 0px 20px brightness(1.8);
}

.social-icon.discord {
  background: #5865f2; /* Azul de Discord */
}
.social-icon.discord:hover {
  background: #404eed;
  box-shadow: 0px 0px 20px #5865f2;
}

.social-icon.kofi {
  background: #ff6433; /* Azul de Ko-Fi */
}
.social-icon.kofi:hover {
  background: #ffa05a;
  box-shadow: 0px 0px 20px #ff6433;
}

.social-icon.tiktok {
  background: linear-gradient(
    45deg,
    #25f4ee,
    #fe2c55
  );
}
.social-icon.tiktok:hover {
  filter: brightness(1.2);
  box-shadow: 0px 0px 20px rgba(255, 45, 85, 0.7); /* Sombra roja */
}

.social-icon.spotify {
  background: #1ed760;
}
.social-icon.spotify:hover {
  background: #159a44;
  box-shadow: 0px 0px 20px #1ed760;
}

/* Highlights Section */
.highlights {
  text-align: center;
}
.highlights-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  gap: 0.5rem;
  margin: 0.5rem;
}
.highlights .clip iframe {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 25px #ff0000;
}
.highlights .clip h3 {
  margin: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}

/* Footer Section */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 20px 10%;
}
.footer-box {
  text-align: center;
}
.footer-box h2,
.footer-box h3 {
  font-size: 1.2rem;
  color: var(--text-color);
}
.footer-box p {
  margin: 0.5rem 0;
  color: var(--text-color);
}
.footer-box a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}
.footer-box a:hover {
  color: var(--main-color);
}

.copyright {
  background: var(--background-color);
  text-align: center;
  color: var(--secondary-color);
}
