* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images8.alphacoders.com/135/1355049.png');
    background-position: top;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;

}
a:hover {
    color: #252525;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Agrega relleno a los lados */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
}

.navbar .toggle_btn {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


.action_btn {
    background-color: #a7005e;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1;
    color: #ffffff;
}

.action_btn:active {
    scale: 1;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: min-content;
}

.dropdown_menu li {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*contenido*/
section#contenido {
    min-height: 300px; /* Establece una altura mínima para evitar que el contenido se contraiga demasiado */
    width: 80%; /* Ajusta el ancho del contenido */
    max-width: 800px; /* Limita el ancho máximo del contenido */
    margin: 35px auto; /* Centra horizontalmente y agrega margen */
    padding: 20px; /* Agrega relleno alrededor del contenido */
    border-radius: 10px; /* Establece el radio de borde */
    overflow: hidden; /* Oculta cualquier parte del contenido que se desborda del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    text-align: justify; /* Justifica el texto */
    color: #ffffff;
}


#contenido h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;

    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan cuando no hay suficiente espacio horizontal */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 1rem;
    margin-top: 2rem;
    margin: 2rem auto; /* Margen superior e inferior de 2rem y margen izquierdo y derecho automático para centrar horizontalmente */
    max-width: 1000px; /* Ajusta el ancho máximo para evitar que las tarjetas se extiendan demasiado en pantallas grandes */
}

.twitch-card {
    background-color: #6441A4; /* Puedes cambiar el color a tu preferencia */
}

.discord-card {
    background-color: #7289DA; /* Puedes cambiar el color a tu preferencia */
}

.instagram-card {
    background-color: #C13584; /* Puedes cambiar el color a tu preferencia */
}

.youtube-card {
    background-color: #FF0000; /* Puedes cambiar el color a tu preferencia */
}

.card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    margin: 10px;
    transition: transform 0.3s ease;
}
/*Iconos*/
.card i {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1rem;
}

.card:hover {
    transform: translateY(-10px);
}

.copyright-text {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}
