* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17202A;
}

.sidebar {
    height: 100vh;
    position: static;
    background-color: #252525;
    width: 80px;
    transition: .4s linear;
    padding: 10px 14px;
}

.top-section {
    position: relative;
    margin-bottom: 40px;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 14px;
}

.logo-text {
    color: #ddd;
    font-size: 20px;
}
/*Boton redondo*/
.sidebar-toggle-btn {
    position: absolute;
    top: 50%;
    right: -27px;
    transform: translateY(-50%);
    color: #17202a;
    font-size: 20px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #ddd;
    border-radius: 50%;
    transition: .4s linear;
    cursor: pointer;
}

.sidebar-toggle-btn:hover {
    background: #17202A;
    color: #ddd;
}

.sidebar.active {
    width: 280px;
}

.sidebar.active .sidebar-toggle-btn {
    transform: translateY(-50%) rotate(180deg);
}

.sidebar-link span {
    opacity: 0;
    transition: .4s linear;
}

.sidebar.active .sidebar-link span {
    opacity: 1;
    transition: .4s linear;
}

.sidebar-link {
    height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.sidebar-link i {
    min-width: 52px;
    font-size: 18px;
    text-align: center;
}

.sidebar-link:hover{
    scale: 1.1;
    color: #252525;
}

.sidebar-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
    transition: .4s;
}

.sidebar-link:hover::before {
    width: 100%;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
}
/*About Text*/
.about-section {
    background: url(pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #17202A;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        background-color: #17202A;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
        background-color: #17202A;
        color: #ddd;

    }
    .text{
        color: #ddd;
    }
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-header{
    background: #2c3a47;
    padding: 60px 40px;
  }
  
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
  }
  
  .pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name{
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .desc{
    font-size: 18px;
    color: #e66767;
  }
  
  .sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .sm a{
    color: #f2f2f2;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
  }
  
  .sm a:hover{
    color: #e66767;
  }
  
  .contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
  }
  
  .contact-btn:hover{
    background: #e66767;
    color: #f2f2f2;
  }
  
  .card-footer{
    background: #f4f4f4;
    padding: 60px 10px;
  }
  
  .numbers{
    display: flex;
    align-items: center;
  }
  
  .item{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #e66767;
  }
  
  .item span{
    display: block;
    color: #2c3a47;
    font-size: 30px;
  }
  
  .border{
    width: 1px;
    height: 30px;
    background: #bbb;
  }
  