* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background-color: #272727;
    backdrop-filter: blur(50);
    background-position: top;
}

.kodfun-galery{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.kodfun-galery > div{
    flex: 1;
    border-bottom: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.kodfun-galery > div:hover{
    flex: 5;
}